<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salman.projectabsensiguru">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- API Google -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD6CZpU1XC2R15im6FaQZUHSx2sZH_qZsg" />
        <!-- API Google -->
        <activity android:name="com.salman.projectabsensiguru.AddFormActivity" />
        <activity android:name="com.salman.projectabsensiguru.AdminActivity" />
        <activity android:name="com.salman.projectabsensiguru.GuruActivity" />
        <activity android:name="com.salman.projectabsensiguru.AdminLoginActivity" />
        <activity android:name="com.salman.projectabsensiguru.MapsLocationActivity"/>
        <activity android:name="com.salman.projectabsensiguru.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>